

#theheader {
    background-color: beige;
    color: black;
    width: 100%;

    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

body {

    background-color: blue


}

.pclass1{

    background-color: red;
    width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    font-weight: bold;
}

.pclass2{

    background-color: red;
    width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    font-weight: bold;
}

#randomscore {

    background-color: lightgray;
    width: 20%;
    padding: 5px;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
}


#tablecontainer{

    background-color: rgb(209, 186, 92);
    width: 500px;
    height: 150px;
    padding: 10px;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
}

#box1 {

    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;

}

#box2 {
    width: 100px;
    height: 100px;
    padding-left: 15px;
    background-color: seagreen;
    padding-top: 15px;
   /*  position: relative; */
    float:left;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
}

#box3 {

    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
}

#box4 {

    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    float: right;  
    border: sandybrown;
    border-width: 5px;
    border-style: solid; 
}

#scoreboard {

background-color: yellow;

width: 10%;
padding: 10px;
margin-bottom: 20px;
border: sandybrown;
border-width: 5px;
border-style: solid;
}

#scorelabel {

    background-color: dodgerblue;
    width: 200px;
    position: relative; 
    left: 5px;
    top: 18px;
    /* float: left; */
    padding: 5px;
    /* padding-bottom: 0px; */
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
}

#totalscore {

    background-color: green;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    font: bold;
    border: sandybrown;
    border-width: 5px;
    border-style: solid;
    /* position: absolute; */
    
    /* float: left; */
}

.crystal-image {
    width: 70px;
    height: 70px;
 //   position: absolute;
   // margin: auto;
   border: sandybrown;
   border-width: 5px;
   border-style: solid;
  }