

#theheader {
    background-color: beige;
    color: black;
    width: 100%;

    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

body {

    background-color: blue


}

.pclass1{

    background-color: red;
    width: 1000px;
}

#randomscore {

    background-color: lightgray;
    width: 20%;
    padding: 5px;
}


#tablecontainer{

    background-color: rgb(209, 186, 92);
    width: 400px;
    height: 150px;
    padding: 10px;
}

#box1 {

    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;

}

#box2 {
    width: 100px;
    height: 100px;
    background-color: seagreen;
    float:left;
}

#box3 {

    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;
}

#box4 {

    width: 100px;
    height: 100px;
    background-color: orange;
    float: right;
}

#scoreboard {

background-color: yellow;

width: 10%;
padding: 10px;
margin-bottom: 20px;
}

#scorelabel {

    background-color: dodgerblue;
    width: 20%;
    /* float: left; */
    padding: 5px;
}

#totalscore {

    background-color: pink;
    width: 10%;
    padding: 40px;
    /* float: left; */
}